.git
.github
.vercel
.env
.env.*
!.env.example
!.env.production.example
node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
test-results
playwright-report
blob-report
.playwright
client/debug.log
docs
